---
import { cn } from "@lib/utils";
import type { CustomHTMLAttributes } from "../../types/shared";

type Props = {
  className?: string;
  "data-carousel-card"?: boolean;
} & CustomHTMLAttributes<"div">;

const {
  className,
  "data-carousel-card": dataCarouselCard = false,
  ...props
} = Astro.props;
---

<div
  data-carousel-card={dataCarouselCard}
  class={cn("relative w-full h-full rounded-[25px] overflow-hidden", className)}
  {...props}
>
  <slot />
</div>
