---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<div
  id={id}
  class="relative w-full h-[320px] sm:h-[360px] lg:h-[420px] perspective-[600px] sm:perspective-midrange lg:perspective-[1050px] flex items-center justify-center overflow-hidden"
>
  <slot />
</div>
