---
type Props = {
  id: string;
};

const { id } = Astro.props;
---

<div
  id={id}
  class="relative w-full h-[271px] perspective-[1050px] flex items-center justify-center overflow-hidden"
>
  <slot />
</div>
