---
import { cn } from "@lib/utils";
import { getSliderIdFor } from "@components/slider/utils";

/**
 * Contenedor de puntos de paginación para el Carousel3D.
 * Los botones son generados dinámicamente por el `Carousel3DProvider`.
 *
 * Debe estar en el DOM junto al `Carousel3D` con el mismo `id`.
 */

type Props = {
  id: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<div
  id={getSliderIdFor(id, "dots")}
  class={cn("flex justify-center gap-2", className)}
>
</div>
