---
import { cn } from "@lib/utils";

type Props = {
  className?: string;
  "data-carousel-card"?: boolean;
};

const { className, "data-carousel-card": dataCarouselCard } = Astro.props;
---

<div
  data-carousel-card={dataCarouselCard}
  class={cn(
    "relative w-full h-full rounded-[25px] overflow-hidden bg-white",
    className,
  )}
>
  <slot />
</div>
