---
import { cn } from "@lib/utils";

type Props = {
  className?: string;
  id: string;
};

const { id, className } = Astro.props;
---

<div id={id} class={cn("c3d-real-hidden", className)}>
  <slot />
</div>
