---
import { cn } from "@lib/utils";

type Props = {
  position?: "center" | "left" | "right";
};

const { position = "center" } = Astro.props;

const defaultTransforms = {
  center: "",
  left: "[transform:translateX(-234px)_scale(0.7627)_rotateY(55.6deg)]",
  right: "[transform:translateX(234px)_scale(0.7627)_rotateY(-55.6deg)]",
};
---

<div
  data-c3d-position={position}
  class={cn(
    "absolute w-[275px] h-[271px] rounded-[25px] overflow-hidden shadow-[0_10px_30px_rgba(0,0,0,0.15),0_5px_15px_rgba(0,0,0,0.08)]",
    position === "center" && "z-30",
    position !== "center" && "z-20",
    defaultTransforms[position],
  )}
>
  <slot />
</div>
