---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <h1 class="text-text-primary-default font-regular">POC Tailwind</h1>

  <button
    class="bg-bg-primary-default text-text-neutral-contrast p-padding-xs rounded-button-default transition-colors duration-700"
  >
    Componente Botón
  </button>

  <div class="p-10 dark border border-dark text-dark">cositas</div>
</RootLayout>
