---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <ul class="flex flex-col gap-y-4">
    <li>
      <a
        href="/ds"
        class="hover:text-blue-400 text-neutral-900 dark:text-neutral-50 transition-colors duration-700 underline"
        >Design System</a
      >
    </li>
    <li>
      <a
        href="/sandbox"
        class="hover:text-blue-400 text-neutral-900 dark:text-neutral-50 transition-colors duration-700 underline"
        >Sandbox</a
      >
    </li>
  </ul>
</RootLayout>
