---
import Slider from "../components/slider/Slider.astro";
import image from "../assets/slider-img.png";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <Slider
    id="devices"
    showPagination={true}
    classNames={{ root: "max-w-5xl mx-auto" }}
  >
    {
      Array.from({ length: 10 }).map((_, index) => (
        <div class="flex-none w-50 h-50 bg-white rounded-2xl shadow p-4 flex flex-col selection:bg-transparent">
          <p class="font-bold text-lg">
            Apple <span class="text-red-500">{index + 1}</span>
          </p>
          <p class="font-semibold text-gray-800 mb-3">iPhone 17</p>
          <img
            src={image.src}
            alt={`iPhone 17 - Apple ${index + 1}`}
            class="w-full object-contain h-40"
          />
        </div>
      ))
    }
  </Slider>
</RootLayout>

<script>
  import { SliderProvider } from "../components/slider/slider-provider";

  new SliderProvider("#devices", {
    sliderOptions: { showPagination: true },
    mountOnInit: true,
  });

  // devicesSlider.mount();
</script>
