---
import CustomThemeLayout from "../layouts/CustomThemeLayout.astro";
---

<CustomThemeLayout tabTitle="Zona de pruebas para temas">
  <div
    class="flex flex-col border-primary-border-default border-2 overflow-hidden rounded-medium w-96 bg-blue-400 shadow-overlay-l gap-y-gap-grid"
  >
    <div class="p-padding-box bg-background text-14 text-center">
      lo azul es el gap
    </div>
    <div class="p-padding-box bg-background text-14 text-center">
      lo azul es el gap
    </div>
    <div class="p-padding-box bg-background text-14 text-center">
      lo azul es el gap
    </div>
  </div>

  <div class="bg-orange-400 aspect-4/3">test</div>
</CustomThemeLayout>
