---
import { Image } from "astro:assets";

type Props = {
  name: string;
  flag: string;
  image: string;
};

const { name, flag, image } = Astro.props;
---

<Image
  src={image}
  alt={name}
  height={260}
  width={340}
  loading="lazy"
  class="w-full h-full object-cover block"
/>
<div
  class="absolute inset-0 bg-linear-to-t from-black/60 via-black/10 to-transparent pointer-events-none"
>
</div>
<div class="absolute bottom-0 left-0 right-0 p-4">
  <h3 class="text-lg font-semibold text-white">
    {flag}
    {name}
  </h3>
  <p class="text-xs text-white/70 mt-0.5">Click to learn more</p>
</div>
