---
import image from "@assets/slider-img.png";
import Slide from "./slider/Slide.astro";

type Props = {
  index: number;
  id: number;
  name: string;
};

const { index, name, id } = Astro.props;
---

<Slide className="h-60 w-60">
  <p class="font-bold text-lg">
    Apple <span class="text-red-500">{id}</span>
  </p>
  <p class="font-semibold text-gray-800 mb-3">iPhone 17 - {name}</p>
  <img
    src={image.src}
    alt={`iPhone 17 - Apple ${index + 1}`}
    class="w-full object-contain h-40"
  />
</Slide>
