---
import image from "@assets/slider-img.png";

type Props = {
  name: string;
};

const { name } = Astro.props;
---

<li>
  <button
    class="size-12 bg-white rounded-lg p-2 text-xs ring-2 ring-transparent transition-all ease-in-out data-[active=true]:ring-red-500 truncate"
    title={name}
  >
    <img
      class="w-full h-full object-contain object-center"
      src={image.src}
      alt={name}
    />
  </button>
</li>
