---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import { cn } from "@lib/utils";
import Render from "@components/slider/Render.astro";

interface Props<T> {
  render: AstroComponentFactory;
  classNames?: Partial<{
    slides: string;
    root: string;
  }>;
  items?: T[];
  id: string;
}

const { id, classNames, items, render } = Astro.props;
---

<div
  class={cn("overflow-hidden w-fit max-w-full min-w-0", classNames?.root)}
  id={id}
>
  <div class={cn("flex gap-3 w-full h-full", classNames?.slides)}>
    <Render items={items} render={render}>
      <slot />
    </Render>
  </div>
</div>
