---
import { cn } from "@lib/utils";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class={cn("relative flex flex-col gap-4 w-max h-max min-w-0", className)}>
  <slot />
</div>
