---
import { cn } from "@lib/utils";
import { getSliderIdFor } from "./utils";

type Props = {
  id: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<div
  id={getSliderIdFor(id, "dots")}
  class={cn("flex justify-center gap-2", className)}
>
</div>
