---
import { cn } from "@lib/utils";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class={cn(
    "flex-none w-full h-(--slider-height,320px) bg-white rounded-2xl p-4 flex flex-col place-content-center selection:bg-transparent",
    className,
  )}
>
  <slot />
</div>
