---
import { cn } from "../../lib/utils";

type Props = {
  id: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<div class={cn("flex justify-center gap-2", className)} id={`${id}-dots`}></div>
