---
import { cn } from "@lib/utils";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class={cn(
    "relative flex flex-col gap-4 w-(--slider-main-width,100%) h-full min-w-0",
    className,
  )}
>
  <slot />
</div>
