---
import type { AstroComponentFactory } from "astro/runtime/server/index.js";
import { cn } from "@lib/utils";
import Render from "@components/slider/Render.astro";

interface Props<T> {
  render: AstroComponentFactory;
  className?: string;
  items?: T[];
  id: string;
}

const { id, className, items, render } = Astro.props;
---

<div class="overflow-hidden w-full min-w-0" id={id}>
  <div class={cn("flex gap-3", className)}>
    <Render items={items} render={render}>
      <slot />
    </Render>
  </div>
</div>
