---
import { cn } from "@lib/utils";
import Render from "@components/slider/Render.astro";
import type { RenderProps } from "./types";

type Props<T> = {
  classNames?: Partial<{
    slides: string;
    root: string;
  }>;
  id: string;
} & RenderProps<T>;

const { id, classNames, ...props } = Astro.props;
---

<div
  class={cn("overflow-hidden w-fit max-w-full min-w-0", classNames?.root)}
  id={id}
>
  <div
    class={cn("flex gap-(--slides-gap,12px) w-full h-full", classNames?.slides)}
  >
    <Render fallback="Sin contenido para mostrar" {...props} />
  </div>
</div>
