---
import { cn } from "@lib/utils";

import type { SliderTheme } from "./types";

type Props = {
  className?: string;
  theme?: SliderTheme;
};

const { className, theme = {} } = Astro.props;
---

<div
  class={cn(
    "relative flex gap-(--slides-gap,12px) w-full min-w-0 h-(--slider-height)",
    className,
  )}
  style={theme}
>
  <slot />
</div>
