---
import { cn } from "../../lib/utils";

type Props = {
  id: string;
  className?: string;
};

const { id, className } = Astro.props;
---

<div class="overflow-hidden w-full min-w-0" id={id}>
  <div class={cn("flex gap-3", className)}>
    <slot />
  </div>
</div>

<!-- Dots -->
