---
import { cn } from "../../lib/utils";

type Props = {
  id: string;
  showPagination?: boolean;
  classNames?: Partial<{
    root: string;
    slidesContainer: string;
    dotsContainer: string;
  }>;
};

const { id, showPagination = true, classNames } = Astro.props;
---

<div class={cn("flex flex-col gap-3 w-full min-w-0", classNames?.root)}>
  <!-- Carousel -->
  <div class="overflow-hidden w-full min-w-0" id={id}>
    <div class={cn("flex gap-3", classNames?.slidesContainer)}>
      <slot />
    </div>
  </div>

  <!-- Dots -->
  {
    showPagination && (
      <div
        class={cn("flex justify-center gap-2", classNames?.dotsContainer)}
        id={`${id}-dots`}
      />
    )
  }
</div>
